---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updateDate={new Date('July 27 2025')}
	heroImage="/icon-2025-07.png"
>
<p>I go by <usernames>Wotton</usernames> / <usernames>Wott</usernames> / <usernames>わたん</usernames> / <usernames>Paraconsistent Prior</usernames> / <usernames>ParaPri</usernames>. <br>
I'm obsessed with reasoning.</p>

			<div id="links-list">
				<a target="_blank" href="http://discord.com/users/82541559790178304">
					<button class="link-button">discord profile</button>
				</a>
				<br>
				<a target="_blank" href="https://www.admonymous.co/wotton">
					<button class="link-button">anonymous feedback</button>
				</a>
				<br>
					<button class="link-button">useless button</button>
			</div>
			<blockquote style="text-align: left; font-family: serif;">
				There once was a mail address<br>
				that bots were eager to guess.<br>
				“public” its name<br>
				at this domain.<br>
				(The domain where you found this verse.)
			</blockquote>
</Layout>
<style>
	:global(.hero-image img) {
		max-height: 120px;
		width: auto;
	}
	:global(.date) {
	display: none;
	}
	:global(footer) {
	display: none;
	}
	:global(p) {
		text-align: center;
	}
</style>
