---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Wotton/Paraconsistent Prior"
	pubDate={new Date('July 27 2025')}
	updatedDate={new Date('July 27 2025')}
	heroImage="/pfp.png"
>
<p>I go by <usernames>Wotton</usernames> / <usernames>わたん</usernames> / <usernames>ParaPri</usernames>
	/ <usernames>Paraconsistent Prior</usernames>. <br>
I'm obsessed with reasoning.</p>

			<div id="links-list">
				<a href="http://discord.com/users/82541559790178304">
					<button class="link-button">discord profile</button>
				</a>
				<br>
				<a href="https://www.admonymous.co/wotton">
					<button class="link-button">anonymous feedback</button>
				</a>
				<br>
				<a href="https://misskey.io/@wotton">
					<button class="link-button">misskey.io</button>
				</a>
				<br>
			<button class="link-button" onclick="copy(this, '119487470')">MajSoul ID ⧉</button>
			<br>
			<button class="link-button" onclick="copy(this, '613129173')">Riichi City ID ⧉</button>
			</div>
			<br>
			<div style="">
					<blockquote style="min-width: 40em; font-size: 18px; font-family: serif;">
				There once was a mail address<br>
				that bots were eager to guess.<br>
				“public” its name<br>
				at this domain.<br>
				(The domain where you found this verse.)
			</blockquote>
		</div>
</Layout>
<style>
	:global(.hero-image img) {
		max-height: 120px;
		width: auto;
	}
	:global(.date) {
	display: none;
	}
	:global(p) {
		text-align: center;
	}
</style>
<script is:inline>
	function copy(btn, text) {
		navigator.clipboard.writeText(text);
		const original = btn.textContent;
		btn.textContent = 'copied nya!';
		setTimeout(() => btn.textContent = original, 1000);
					}
</script>
